<h2>Login</h2>

<form action="/login" method="POST">
  Username:
  <input name="username" type="text" /><br />
  Passwort:
  <input name="password" type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>
<a href="/register" class="button">Registrieren</a>