<h2>Registrieren</h2>

<form action="/register" method="POST">
  E-Mail:
  <input name="username" type="text" /><br />
  Passwort:
  <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>